*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header{
    height: 170px;
    background-image: url(../img/pattern.png);
    background-color: lightblue;
}

.logo{
    height: 17rem;
    width: 17rem;
   
    
}